extends layout

block content
	  
	h2 About us 
	div 
		b Ce site à été réalisé par "2" personnes :
		ul 
			li 
				h3 Guillaume PRODAULT
				p Travail réalisé : Réalisation du logo, de la maquette et l'idée du design du site.
			li 
				h3 Théo ETHEVE 
				p Travail réalisé : Tout le reste ...