extends layout

block content
  div
    h2 Bienvenue sur MySoundList !
    p
      | MySoundList est une application innovante qui vous permet de créer et partager des playlists avec vos amis. Que vous soyez un mélomane passionné ou simplement à la recherche de nouvelles découvertes musicales, notre plateforme est conçue pour vous offrir une expérience unique.
    p
      | Créez votre propre liste de lecture personnalisée en ajoutant vos chansons préférées, que ce soit des classiques intemporels, des hits du moment ou des trésors méconnus. Vous pouvez également explorer les playlists de vos amis et découvrir de nouveaux morceaux qui correspondent à vos goûts musicaux.
    p
      | L'avantage de MySoundList réside dans sa convivialité. Chaque membre de votre groupe d'amis peut ajouter ses propres morceaux à la playlist, ce qui en fait une expérience collaborative où chacun peut contribuer et partager sa passion musicale. C'est un excellent moyen de créer une ambiance musicale dynamique lors de vos soirées, road trips ou tout simplement pour égayer votre journée.
    p
      | Notre application est simple à utiliser et offre une interface conviviale. Il vous suffit de créer un compte, de rejoindre ou de créer une playlist, d'inviter vos amis à participer et de commencer à ajouter vos morceaux préférés. Vous pouvez également interagir avec les autres membres de la communauté en commentant et en aimant les chansons.
    p
      | Rejoignez dès maintenant MySoundList et laissez la musique rassembler les gens. Partagez vos passions musicales, découvrez de nouveaux talents et vibrez au rythme des meilleures playlists créées par vous et vos amis.
    p
      | Bienvenue dans notre communauté musicale.