doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="../stylesheets/style.css")
    link(href='https://fonts.googleapis.com/css?family=Syne Mono' rel='stylesheet')
    link(rel="icon" type="image/png" href="../images/MySoundList Logo.png")
    title MySoundList

  body
    header
      ul.container
        li.container
          img(src="../images/MySoundList Logo.png", alt="Logo", height="100")
          a.title(href="/") MySoundList
        li
          a(href="/home") Accueil
        if !session
          li
            a(href="/login") Connexion
          li
            a(href="/signup") Inscription
        if session
          li
            a(href="/logout") Déconnexion

    block content 


    footer
      ul.container
        li 
          a(href="/about") À propos