extends layout

block content
  h2 Connexion
  div 
    if create
      b Compte créé avec succès !
      br
      br
    if message 
      b #{message}
      br
      br

  form(action="/login", method="POST")
    div
      label(for="username") Nom d'utilisateur : 
      input(type="text", name="username", id="username", required)
    div
      label(for="password") Mot de passe : 
      input(type="password", name="password", id="password", required)
    div
      input.btn(type="submit", value="Se connecter")
    div
      p Pas encore de compte ? 
        a(href="/signup") Créer un compte
