extends layout

block content
  h1 Connexion
  form(action="/login", method="POST")
    div
      label(for="username") Nom d'utilisateur
      input(type="text", name="username", id="username", required)
    div
      label(for="password") Mot de passe
      input(type="password", name="password", id="password", required)
    div
      input(type="submit", value="Se connecter")
    div
      p Pas encore de compte ? 
        a(href="/signup") Créer un compte
