body {
  padding: 20px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #1E1E1E;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00B7FF;
}

.title {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Syne Mono';
  color: #FFFFFF;
  text-decoration: none;
  font-size: 44px;
}

h1, h2 {
  font-family: 'Syne Mono';
  color: #BFA8FF;
}

.btn {
  background-color: #FF57F8;
  color: #2C2B2B;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}

.btn:hover {
  background-color: #cd23c4;
  cursor: pointer;
}

/* Conteneur flex pour le header et le footer */
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

li.container img {
  padding-right: 20px;
}

/* Positionnement du header et du footer en ligne */
header, footer {
  align-items: center;
  width: 100%;
  background-color: #321967;
  border-radius: 5px;
}

header ul, footer ul {
  list-style-type: none;
}

/* Style des liens du footer */
footer a, header a {
  margin: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
}